body{
    background:#FFFFFF;
}

#sticky {
    padding: 0.5ex;
    width: 100%;
    border-radius:0px!important;
    padding: 0 20px;
}

#sticky.stick {
    margin-top: 0 !important;
    position: fixed;
    top: 0;
    z-index: 2;
}

.navbar,.form-control,.modal-content,.btn,.section-info{
    border-radius:0px!important;
}

.navbar{
    font-family:'Roboto Condensed',sans-serif;
    font-weight:500;
}
.logo{
    font-family: 'Lobster', cursive!important;
    text-shadow: 1px 1px 1px 2px #AAAAAA!important;
    color:#FFFFFF!important;
    font-weight:500;
    margin-top:10px!important;
    margin-bottom: 10px!important;
    position: relative;
}
.logo .top-logo{
    font-size:2em!important;
    position: absolute;
    margin-top: 15px;
}
.logo .logo-bottom{
    font-size:20px!important;
}
.info{
    text-align: right;
    margin-top:10px!important;
    margin-bottom: 10px!important;
}
.dir{
    font-family:'Roboto Condensed',sans-serif;
    font-weight:300;
    font-size:14px;
    margin: 0 auto;
}
.tel{
    font-family:'Roboto Condensed',sans-serif;
    font-weight:300;
    font-size:14px;
    margin: 0 auto;
}
.razon-social{
    font-family:'Roboto Condensed',sans-serif;
    font-weight:600;
    font-size: 16px;
    margin: 0 auto;
}
.idioma{
    margin-top:18px!important;
    padding-left: 0px!important;
}
.menu-bottom{
    background:#282828!important;
    border:none!important;
    box-shadow: -2px 3px 2px 2px #282828;
    margin: 0 0 0 0!important;
    z-index: 5!important;
    display: inline-table!important;
}
.menu-top{
    width: 100%;
    background:rgb(110, 41, 41);
    background: -webkit-linear-gradient(#15A07A, #15A07A); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#15A07A, #15A07A); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#15A07A, #15A07A); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#15A07A, #15A07A); /* Standard syntax */
    color:#FFFFFF!important;
    height:auto!important;
    text-shadow: 0.2px 0.2px 0.2px #AAAAAA!important;
    margin: 0 0 0 0 !important;
    border:none;
    z-index: 4;
    display: inline-table!important;
}
.text-image{
    background:rgba(0, 0, 0, 0.4)!important;
    z-index: 2!important;
    color:#FFFFFF;
    font-family:'Roboto Condensed',sans-serif;
}

.btn-login{
    background-color:#177B60!important;
    color:#FFFFFF!important;
}
.btn-login:hover{
    background-color:#15A07A!important;
}
.modal-dialog{
    font-family:'Roboto Condensed',sans-serif;
    font-weight:500;
}
.modal-header{
    background-color: #15A07A !important;
    color:#FFFFFF!important;
    text-align:center;
}
.modal-title{
    font-size:16px;
    font-weight:500;
}
.modal-footer{
    background-color: #3C3C3C !important;
}
.btn{
    font-size:14px!important;
}
.bloque-info{
    font-family:'Yanone Kaffeesatz';
}
.title-info{
    font-weight:700;
    padding-bottom: 20px!important;
}
.paragraf-info{
    font-size:17px!important;
    font-weight:300;
}
.tabs-info{
}
.close{
    color:#FFFFFF!important;
}
.footer, footer a{

    padding-top: 15px;
}

.galeria-prom{
    border-radius:160px;
    border: 10px solid white;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    margin-left: auto;
    margin-right: auto;
}
.galeria-hab{
    border: 10px solid white;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}
.logo-footer{
    font-size:20px;
    margin-top:0px!important;
}
.btn-nav{
    background:#15A07A;
    text-align:center;
    margin-bottom:5px!important;
    color:#FFFFFF!important;
    height:40px;
    width:45px;
}
.btn-nav:hover{
    background:#104E3D;
    border-color:#FFFFFF!important;
    color:#FFFFFF!important;
    z-index:4!important;
}

.map{
    position:relative!important;
}

.info-maps{
    background:#BA4624!important;
    height:480px;
    width:100%;
    color:#FFFFFF;
    font-family:'Roboto Condensed';
    font-weight:500;
}

.info-maps h3{
    font-weight:800;
}

.contactos{
    padding-top:20px;
    background:#7B2E26!important;
    font-family:'Roboto Condensed';
    height:30%;
    color:#FFFFFF;
    text-shadow: 0.2px 0.3px 0.2px #AAAAAA!important;
}

.carousel{

}
.information{

}

.carousel-fade .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
    opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-control {
    z-index: 2;
}
.carousel-indicators{
    z-index: 3;
}

.dropdown-menu li a:hover{
    background:#BA4624!important;
    color:#FFFFFF;
}

.btn-menu{
    display: inline-block;
}
.logo-menu-footer,.logo-menu-footer-left{
    color:#FFFFFF;
    font-size: 20px;
    font-family:'Lobster';
    display: none;
}
.logo-menu-footer-left{
    margin-top: 10px;
    position: absolute!important;
}
.display-visble{
    display: inline-block;
}

h1{
    font-size:3.5em;
}

