{% extends "mod_hotel/base_mod_backend.html" %}

{% block content %}
    <div class="busqueda">
        
    <form action="{% url 'atencion:historia_search' %}" method="get">
        <input type="text" name="codigo" id="codigo" value="{{ request.GET.codigo }}" class="form form-input">
        <button type="submit" class="btn btn-search">Buscar</button>
    </form>

    </div>

    <div class="resultado">
        
        {% if persona %}
            <label for="">Nombres: </label>{{persona.nombres}} <br>
            <label for="">Apellido: </label>{{persona.apellido_paterno}} {{persona.apellido_materno}}<br>
            <label for="">C&oacute;digo: </label>{{persona.codigo}}<br>
            <label for="">Fecha Nacimiento: </label>{{persona.fecha_nacimiento}}<br>
            <label for="">Sexo: </label>{{ persona.sexo }}<br>
            <label for="">Estado Civil: </label>{{ persona.estado_civil }}<br>

            <label for="">Estudiante</label>{% if estudiante %}SI
            {% else %}No
                
            {% endif %} <br>
            <label for="">Matriculado</label> {% if matriculado %}
                                    Si
                                    {% else %}No
                
            {% endif %}


        <div class="historial">
            {% if historia %}
            
            <a href="{% url 'atencion:historia_detail' historia.id %}" class="btn btn-success"> Abir Historial</a>

            {% else %}
            <h2>No tiene historial</h2>

            <form action="{% url 'atencion:historia_add' %}" method="POST">
                {% csrf_token %}

                <input type="hidden" name="persona" id="id_persona" value="{{persona.id}}">

                <button type="submit" class="btn btn-primary">Crear Historial</button>
            </form>
            </button>
        {% endif %}
        </div>
            {% else %}
            <h2>No existe la persona</h2>
        {% endif %}
    </div>

{% endblock content %}
