{% extends "mod_hotel/base_mod_backend.html" %}

{% load i18n crispy_forms_tags %}
{% load l10n %}

{% block breadcrumbs %}

&rsaquo;
<a href="{% url 'atencion:persona_list' %}">{{ opts.verbose_name_plural|capfirst }}</a>
&rsaquo; {{ title }}
{% endblock breadcrumbs %}

{% block content_title %}
{{ opts.verbose_name|capfirst }} | <small>{{ title }}</small>
{% endblock content_title %}

{% block content %}
    <form action="" method="post">
    {{ form }}
    {% csrf_token %}
    <button type="submit" class="btn  btn-primary">Agregar</button>
    <a href="{% url 'atencion:persona_list' %}" class="btn btn-danger">Cancelar</a>
    </form>
{% endblock content %}

{% block extrajs %}
{{ block.super }}

<script type="text/javascript">

</script>
{% endblock extrajs %}
{% block customjs %}
    <script type="text/javascript">
  $(function() {
    $('#id_fecha_nacimiento').datetimepicker({
        format: 'YYYY-MM-DD',
      pickTime: false
    });
    
  });

  $('#id_provincia').on('change',distrito);
    function distrito(){
        var id = $(this).val();
        $.ajax({
            data:{'id':id},
            url:'{% url 'atencion:busqueda_distrito' %}',
            type: 'get',
            success: function(data){

                $("#id_distrito").html(data.distritos);
                $("#id_distrito").trigger("change");
            },
            failure: function (errMsg) {
            $('#errorMessage').text(errMsg);
                }
        });
    }

    $('#id_departamento').on('change',provincia);
    function provincia(){
        var id = $(this).val();
        $.ajax({
            data:{'id':id},
            url:'{% url 'atencion:busqueda_provincia' %}',
            type: 'get',
            success: function(data){

                $("#id_provincia").html(data.provincias);
                $("#id_provincia").trigger("change");
            },
            failure: function (errMsg) {
            $('#errorMessage').text(errMsg);
                }
        });
    }
</script>

{% endblock customjs %}

