{% extends "mod_hotel/base_mod_backend.html" %}
<div class="modal-header text-center">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 class="modal-title title-panel" id="myModalLabel">Confirma eliminar</h3>
</div>
<div class="modal-body text-center">
    <form action="{% url 'atencion:distrito_delete' object.id %}" method="post">{% csrf_token %}
        <p>Esta seguro que quiere eliminar "{{ object }}"?</p>
        <button type="submit" class="btn btn-del">
            <span class="glyphicon glyphicon glyphicon-remove"></span>
            Eliminar
        </button>
        <a href="{% url 'atencion:distrito_list' %}" type="button" class="btn btn-cancel">
            <span class="glyphicon glyphicon glyphicon-refresh"></span>
            Regresar
        </a>
    </form>
</div>
<div class="modal-footer">
</div>


<script>

</script>