{% extends "mod_hotel/base_mod_backend.html" %}

{% load i18n crispy_forms_tags %}
{% load l10n %}



{% block content_title %}
{{ opts.verbose_name|capfirst }} | <small>{{ title }}</small>
{% endblock content_title %}

{% block content %}

<div class="page-header">
        </h4><a href="#">Diagnosticos</a></h4>
    </div>
    <h2  >Crear Diagnostico</h2> 

    <form action="" method="post">
    {{ form }}
    {% csrf_token %}
    <button type="submit" class="btn  btn-primary">Agregar</button>
    <a href="{% url 'atencion:diagnostico_list' %}" class="btn btn-danger">Cancelar</a>
    </form>
{% endblock content %}

{% block extrajs %}
{{ block.super }}

<script type="text/javascript">

</script>
{% endblock extrajs %}

